*{
    margin: o;
    padding: o;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    text-decoration: none;
    background: -o-linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85,61% );
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.elemento{
    width: 160px;
    height: 160px;
    border: 2px solid tomato;
    border-radius: 10px;
}

.container{
    display: flex;
    gap: 5px;
    margin: 0 auto;
    width: 800px;
}

#elemento-1{
    background-image: linear-gradient(to left, red ,yellow);
}

#elemento-2{
    background-image: linear-gradient(to top, rgb(250, 0, 0) ,rgb(255, 255, 255), blue );
}

