*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: white;

}

.container-header{
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    height: 10vh;
    align-items: center;
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 40px;
}

.container-div{
background-color: black;
width: 80vw;
height: 75vh;
display: flex;
margin: 0 auto;
margin-top: 30px;
}

.div1{
    background-color: #ccc;
    width: 33vw;
}

.div2{
    background-color: #f48585;
    width: 33vw;
}

.div3{
    background-color: #359ccb;
    width: 33vw;
}