*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    background-color: rgb(253, 218, 205);
    border-bottom: 3px solid tomato;
    color: tomato;
}
#nome{
text-align: center;
}
main{
    width: 80vw;
    margin: 0 auto;
}

